.produtos{
    background-color: var(--color3);
    display: flex;
    flex-wrap: wrap;
    padding: 10rem 0 5rem 0;
    position: relative;
    width: 100%;
}

@media screen and (min-width: 0){
    .produtos{
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (min-width: 1000px){
    .produtos{
        flex-direction: row;
        justify-content: space-around;
    }
}
