.rodape{
    background-color: var(--color2);
    height: 50px;
    position: absolute;
    width: 100%;
}

@media screen and (min-width: 0){
    .rodape{
        text-align: center;
    }
}


@media screen and (min-width: 700px){
    .rodape{
        margin-right: 1rem;
        text-align: right;
    }
    
}