.produto__botao{
    width: 50px;
    height: 50px;
    margin: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: var(--color3);
    color: var(--cabecalhoFontColor);
    border: none;
    border-radius: 5px;
}

.produto__botao:hover{
    background-color: var(--color4);
    transition-duration: 0.5s;
    cursor: pointer;
}