.produto{
    align-items: center;
    background-color: var(--color1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2rem 0 2rem 0;
    text-align: center;
    width: 25%;
}

@media screen and (min-width: 0){
    .produto{
        margin-bottom: 1.5rem;
        width: 70%;
    }
}

@media screen and (min-width: 1000px){
    .produto{
        margin-bottom: 0rem;
        width: 25%;
    }
}