@media screen and (min-width: 0){
    .produto__imagem{
        height: 80px;
        width: 80px;
    }
}

@media screen and (min-width: 481px){
    .produto__imagem{
        height: 150px;
        width: 150px;
    }
}