.carrinho__tabelaProdutosNoCarrinho{
    display: none;
    height: 4rem;
    margin-top: 1rem;
    width: 100%;
}

.carrinho__tabelaProdutosNoCarrinho th{
    background-color: var(--color2);
    color: var(--color3);
    font-weight: bold;
    padding: 1rem 2rem 1rem 2rem;
    vertical-align: middle;
}

.carrinho__tabelaProdutosNoCarrinho td{
    color: var(--color3);
    font-weight: bold;
    height: 3rem;
    vertical-align: middle;
}

.carrinho__tabelaProdutosNoCarrinho tr{
    margin-top: 10px;
}
