.carrinho__titulo{
    color: var(--color5);
    font-weight: bold;
    text-shadow: 0 0 3px var(--color5);
    text-transform: uppercase;
}

@media screen and (min-width: 0){
    .carrinho__titulo{
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 481px){
    .carrinho__titulo{
        font-size: 1.5rem;
    }
}